## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [189]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

## Observação:

O código acima não dá a possibilidade de alcançar a nota máxima, no caso eu poderia puxar os valores pelo len() da variavel np.unique(), porém nesse caso a disciplina de português não iria vir correta, pois ela não alcancou o valor máximo devido o 'seed(42)', que deveria ser 17.

In [190]:
valores_mat = df_mat['Qt_acertos'].values
valores_unicos_mat = np.unique(valores_mat)

valores_por = df_por['Qt_acertos'].values
valores_unicos_por = np.unique(valores_por)

valores_geo = df_geo['Qt_acertos'].values
valores_unicos_geo = np.unique(valores_geo)

valores_ing = df_ing['Qt_acertos'].values
valores_unicos_ing = np.unique(valores_ing)

valores_his = df_his['Qt_acertos'].values
valores_unicos_his = np.unique(valores_his)

valores_fis = df_fis['Qt_acertos'].values
valores_unicos_fis = np.unique(valores_fis)

valores_qui = df_qui['Qt_acertos'].values
valores_unicos_qui = np.unique(valores_qui)

print(f'Matemática: {valores_unicos_mat}')
print(f'Português: {valores_unicos_por}')
print(f'Geografia: {valores_unicos_geo}')
print(f'Inglês: {valores_unicos_ing}')
print(f'História: {valores_unicos_his}')
print(f'Física: {valores_unicos_fis}')
print(f'Química: {valores_unicos_qui}')

print(f'\nA quantidade de elementos em português é {len(valores_unicos_por)}, sendo que o valor máximo de nota que o aluno pode alcançar é {np.amax(valores_unicos_por)}')

Matemática: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
Português: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]
Geografia: [0 1 2 3 4 5 6 7]
Inglês: [0 1 2 3 4 5 6 7]
História: [0 1 2 3 4 5 6 7]
Física: [ 0  1  2  3  4  5  6  7  8  9 10 11]
Química: [ 0  1  2  3  4  5  6  7  8  9 10 11]

A quantidade de elementos em português é 17, sendo que o valor máximo de nota que o aluno pode alcançar é 16

In [191]:
# 1) Seu código aqui

pd.options.display.float_format = "{:,.2f}".format
df_mat.rename(columns={'Qt_acertos':'mat'}, inplace=True)
df_por.rename(columns={'Qt_acertos':'por'}, inplace=True)
df_geo.rename(columns={'Qt_acertos':'geo'}, inplace=True)
df_ing.rename(columns={'Qt_acertos':'ing'}, inplace=True)
df_his.rename(columns={'Qt_acertos':'his'}, inplace=True)
df_fis.rename(columns={'Qt_acertos':'fis'}, inplace=True)
df_qui.rename(columns={'Qt_acertos':'qui'}, inplace=True)
df_mat['%'] = (df_mat['mat']/df_mat['mat'].nunique())*100
df_por['%'] = (df_por['por']/df_por['por'].nunique())*100
df_geo['%'] = (df_geo['geo']/df_geo['geo'].nunique())*100
df_ing['%'] = (df_ing['ing']/df_ing['ing'].nunique())*100
df_his['%'] = (df_his['his']/df_his['his'].nunique())*100
df_fis['%'] = (df_fis['fis']/df_fis['fis'].nunique())*100
df_qui['%'] = (df_qui['qui']/df_qui['qui'].nunique())*100
df_completo = pd.concat([df_mat,df_por,df_geo,df_ing,df_his,df_fis,df_qui], axis=1)
df_completo

,mat,%,por,%,geo,%,ing,%,his,%,fis,%,qui,%
0,6,25.00,7,41.18,7,87.50,3,37.50,1,12.50,8,66.67,3,25.00
1,19,79.17,10,58.82,0,0.00,0,0.00,0,0.00,11,91.67,8,66.67
2,14,58.33,16,94.12,0,0.00,5,62.50,7,87.50,4,33.33,4,33.33
3,10,41.67,7,41.18,3,37.50,4,50.00,0,0.00,0,0.00,8,66.67
4,7,29.17,2,11.76,2,25.00,7,87.50,0,0.00,9,75.00,3,25.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,25.00,4,23.53,7,87.50,1,12.50,4,50.00,9,75.00,3,25.00
96,8,33.33,1,5.88,4,50.00,6,75.00,1,12.50,4,33.33,3,25.00
97,23,95.83,5,29.41,0,0.00,2,25.00,4,50.00,1,8.33,5,41.67
98,0,0.00,10,58.82,3,37.50,1,12.50,5,62.50,10,83.33,11,91.67
99,11,45.83,15,88.24,0,0.00,1,12.50,6,75.00,7,58.33,2,16.67

In [270]:
# 2) Seu código aqui
df_completo['total_acertos'] = df_completo['mat'] + df_completo['por'] + df_completo['geo'] + df_completo['ing'] + df_completo['his'] + df_completo['fis'] + df_completo['qui']
df_completo

,mat,%,por,%,geo,%,ing,%,his,%,fis,%,qui,%,total_acertos,% geral de acertos
0,6,25.00,7,41.18,7,87.50,3,37.50,1,12.50,8,66.67,3,25.00,35,0.39
1,19,79.17,10,58.82,0,0.00,0,0.00,0,0.00,11,91.67,8,66.67,48,0.54
2,14,58.33,16,94.12,0,0.00,5,62.50,7,87.50,4,33.33,4,33.33,50,0.56
3,10,41.67,7,41.18,3,37.50,4,50.00,0,0.00,0,0.00,8,66.67,32,0.36
4,7,29.17,2,11.76,2,25.00,7,87.50,0,0.00,9,75.00,3,25.00,30,0.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,25.00,4,23.53,7,87.50,1,12.50,4,50.00,9,75.00,3,25.00,34,0.38
96,8,33.33,1,5.88,4,50.00,6,75.00,1,12.50,4,33.33,3,25.00,27,0.30
97,23,95.83,5,29.41,0,0.00,2,25.00,4,50.00,1,8.33,5,41.67,40,0.45
98,0,0.00,10,58.82,3,37.50,1,12.50,5,62.50,10,83.33,11,91.67,40,0.45
99,11,45.83,15,88.24,0,0.00,1,12.50,6,75.00,7,58.33,2,16.67,42,0.47

In [271]:
# 3) Seu código aqui
total_questoes = df_completo['mat'].nunique() + df_completo['por'].nunique() + df_completo['geo'].nunique() + df_completo['ing'].nunique() + df_completo['his'].nunique() + df_completo['fis'].nunique() + df_completo['qui'].nunique()
print(total_questoes)
df_completo['% geral de acertos'] = df_completo['total_acertos'] / total_questoes
df_completo

89

,mat,%,por,%,geo,%,ing,%,his,%,fis,%,qui,%,total_acertos,% geral de acertos
0,6,25.00,7,41.18,7,87.50,3,37.50,1,12.50,8,66.67,3,25.00,35,0.39
1,19,79.17,10,58.82,0,0.00,0,0.00,0,0.00,11,91.67,8,66.67,48,0.54
2,14,58.33,16,94.12,0,0.00,5,62.50,7,87.50,4,33.33,4,33.33,50,0.56
3,10,41.67,7,41.18,3,37.50,4,50.00,0,0.00,0,0.00,8,66.67,32,0.36
4,7,29.17,2,11.76,2,25.00,7,87.50,0,0.00,9,75.00,3,25.00,30,0.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,25.00,4,23.53,7,87.50,1,12.50,4,50.00,9,75.00,3,25.00,34,0.38
96,8,33.33,1,5.88,4,50.00,6,75.00,1,12.50,4,33.33,3,25.00,27,0.30
97,23,95.83,5,29.41,0,0.00,2,25.00,4,50.00,1,8.33,5,41.67,40,0.45
98,0,0.00,10,58.82,3,37.50,1,12.50,5,62.50,10,83.33,11,91.67,40,0.45
99,11,45.83,15,88.24,0,0.00,1,12.50,6,75.00,7,58.33,2,16.67,42,0.47

In [272]:
# 4) Seu código aqui

df_alunos_nota_corte = df_completo[df_completo['total_acertos']>45]
print(f'Qtd. de alunos que passaram na nota de corte: {len(df_alunos_nota_corte)}')
df_alunos_nota_corte

Qtd. de alunos que passaram na nota de corte: 31

,mat,%,por,%,geo,%,ing,%,his,%,fis,%,qui,%,total_acertos,% geral de acertos
1,19,79.17,10,58.82,0,0.00,0,0.00,0,0.00,11,91.67,8,66.67,48,0.54
2,14,58.33,16,94.12,0,0.00,5,62.50,7,87.50,4,33.33,4,33.33,50,0.56
5,20,83.33,2,11.76,5,62.50,3,37.50,2,25.00,9,75.00,9,75.00,50,0.56
7,18,75.00,4,23.53,4,50.00,7,87.50,7,87.50,1,8.33,8,66.67,49,0.55
8,22,91.67,9,52.94,2,25.00,7,87.50,6,75.00,5,41.67,7,58.33,58,0.65
17,21,87.50,15,88.24,2,25.00,2,25.00,4,50.00,2,16.67,6,50.00,52,0.58
18,20,83.33,4,23.53,3,37.50,5,62.50,3,37.50,11,91.67,4,33.33,50,0.56
20,23,95.83,11,64.71,6,75.00,5,62.50,6,75.00,2,16.67,0,0.00,53,0.60
24,20,83.33,2,11.76,7,87.50,5,62.50,3,37.50,11,91.67,2,16.67,50,0.56
27,21,87.50,13,76.47,1,12.50,5,62.50,7,87.50,3,25.00,0,0.00,50,0.56
31,15,62.50,13,76.47,3,37.50,1,12.50,3,37.50,9,75.00,10,83.33,54,0.61
35,11,45.83,14,82.35,6,75.00,3,37.50,3,37.50,0,0.00,11,91.67,48,0.54
36,22,91.67,9,52.94,6,75.00,6,75.00,1,12.50,4,33.33,8,66.67,56,0.63
37,19,79.17,12,70.59,5,62.50,7,87.50,1,12.50,6,50.00,2,16.67,52,0.58
39,4,16.67,16,94.12,2,25.00,4,50.00,6,75.00,9,75.00,8,66.67,49,0.55
40,18,75.00,3,17.65,6,75.00,3,37.50,6,75.00,5,41.67,6,50.00,47,0.53
42,20,83.33,6,35.29,7,87.50,7,87.50,2,25.00,3,25.00,3,25.00,48,0.54
45,17,70.83,10,58.82,0,0.00,2,25.00,6,75.00,9,75.00,4,33.33,48,0.54
48,17,70.83,6,35.29,0,0.00,7,87.50,5,62.50,9,75.00,11,91.67,55,0.62
60,16,66.67,8,47.06,0,0.00,4,50.00,4,50.00,7,58.33,9,75.00,48,0.54
62,17,70.83,6,35.29,2,25.00,4,50.00,7,87.50,1,8.33,9,75.00,46,0.52
67,21,87.50,0,0.00,7,87.50,2,25.00,4,50.00,2,16.67,10,83.33,46,0.52
70,21,87.50,14,82.35,0,0.00,3,37.50,5,62.50,11,91.67,8,66.67,62,0.70
71,17,70.83,8,47.06,7,87.50,6,75.00,4,50.00,2,16.67,9,75.00,53,0.60
72,11,45.83,16,94.12,3,37.50,4,50.00,7,87.50,0,0.00,9,75.00,50,0.56
77,15,62.50,2,11.76,5,62.50,7,87.50,6,75.00,11,91.67,7,58.33,53,0.60
78,14,58.33,16,94.12,7,87.50,2,25.00,7,87.50,11,91.67,9,75.00,66,0.74
81,22,91.67,16,94.12,2,25.00,0,0.00,4,50.00,1,8.33,10,83.33,55,0.62
88,20,83.33,1,5.88,1,12.50,5,62.50,7,87.50,9,75.00,7,58.33,50,0.56
89,23,95.83,11,64.71,7,87.50,7,87.50,6,75.00,9,75.00,0,0.00,63,0.71
93,12,50.00,16,94.12,5,62.50,5,62.50,6,75.00,6,50.00,6,50.00,56,0.63

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [273]:
# seu código aqui
desqualificados_mat = df_completo[df_completo['mat'] == 0]
desqualificados_fis = df_completo[df_completo['fis'] == 0]
desqualificados_qui = df_completo[df_completo['qui'] == 0]

desqualificados_geral = pd.concat([desqualificados_mat, desqualificados_fis, desqualificados_qui])
desqualificados_geral.drop_duplicates(inplace=True, keep='first')

print(f'A quantidade de alunos desqualificados é: {len(desqualificados_geral)}')
print(f'A média dos alunos em História é: {desqualificados_geral["his"].mean():.2f}')
print(f'A média dos alunos em Geografia é: {desqualificados_geral["geo"].mean():.2f}')

print(f'\nAlunos que passaram para a segunda fase: ')
aprovados_segunda_fase = df_completo[(df_completo.mat > 0) & (df_completo.fis > 0) & (df_completo.qui > 0)]
print(f'\nQuantos zeraram em Matematica?: {aprovados_segunda_fase.mat.isnull().sum()}')
print(f'Quantos zeraram em Física?: {aprovados_segunda_fase.fis.isnull().sum()}')
print(f'Quantos zeraram em Química?: {aprovados_segunda_fase.qui.isnull().sum()}')

aprovados_segunda_fase

A quantidade de alunos desqualificados é: 23
A média dos alunos em História é: 3.43
A média dos alunos em Geografia é: 3.22

Alunos que passaram para a segunda fase:

Quantos zeraram em Matematica?: 0
Quantos zeraram em Física?: 0
Quantos zeraram em Química?: 0

,mat,%,por,%,geo,%,ing,%,his,%,fis,%,qui,%,total_acertos,% geral de acertos
0,6,25.00,7,41.18,7,87.50,3,37.50,1,12.50,8,66.67,3,25.00,35,0.39
1,19,79.17,10,58.82,0,0.00,0,0.00,0,0.00,11,91.67,8,66.67,48,0.54
2,14,58.33,16,94.12,0,0.00,5,62.50,7,87.50,4,33.33,4,33.33,50,0.56
4,7,29.17,2,11.76,2,25.00,7,87.50,0,0.00,9,75.00,3,25.00,30,0.34
5,20,83.33,2,11.76,5,62.50,3,37.50,2,25.00,9,75.00,9,75.00,50,0.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,12,50.00,16,94.12,5,62.50,5,62.50,6,75.00,6,50.00,6,50.00,56,0.63
95,6,25.00,4,23.53,7,87.50,1,12.50,4,50.00,9,75.00,3,25.00,34,0.38
96,8,33.33,1,5.88,4,50.00,6,75.00,1,12.50,4,33.33,3,25.00,27,0.30
97,23,95.83,5,29.41,0,0.00,2,25.00,4,50.00,1,8.33,5,41.67,40,0.45
99,11,45.83,15,88.24,0,0.00,1,12.50,6,75.00,7,58.33,2,16.67,42,0.47

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [283]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [284]:
# 1) Sua solução aqui
df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')

FileNotFoundError: [Errno 2] No such file or directory: 'registros de vacinacao covid ACRE.csv'

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 3) solução alternativa

In [ ]:
# 4)

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)